.banner{
    display:flex;
    justify-content: context;
    margin:10px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.banner img{
    width:auto;
    height:65px;
}
.banner h1{
    margin-right:25px;
}
body{
    font-family: Arial, Georgia, sans-serif;
    background-color:rgb(0,255,0);
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    Margin: 0;
}
nav a{
    text-decoration:navy ;
    font-weight: bold;
}
nav li:a hover{
    text-decoration: underline;
}
li{
    list-style-type: none;
}
li a{ 
    color:black;
    text-decoration: none;
}